.book-food{
    width: 100%;
    background: url(Img/back5.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 71.9125px;
    padding: 4.375rem 0;
}
#main{
    width: ;
}